.home-course {
    margin-top: 10px;
}
.home-header {
    background-image: url('../../assets/images/bg-home-header2.png');
    position: relative;
    &::before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(255, 255, 255, 0.4); /* Màu đen với độ mờ 0.5 */
        // background-color: rgba(0, 0, 0, 0.5); /* Màu đen với độ mờ 0.5 */
    }
}
.home-title {
    font-weight: bold;
    font-size: 30px;
    margin-top: 10px;
    margin-bottom: 10px;
    color: #4d4d4d;
}
.home-exam {
    display: flex;
    // justify-content: center;
    flex-wrap: wrap;
    width: 60%;
    margin-left: 10%;
}

.home-exam-ranking {
    width: 30%;
}
.home-search {
    width: 50%;
}
.home-search-input {
    .ant-input-outlined {
        // padding-left: 20px;
        padding: 10px 10px 10px 20px;
        border-radius: 130px 0px 0px 130px !important;
        border: 1px solid #1677ff;
    }
    button {
        border-radius: 0px 130px 130px 0px !important;
        padding: 22px !important;
        border: 1px solid #1677ff;
        span {
            padding-right: 2px;
        }
    }
}
.home-seach-word-info {
    width: 40%;
}
// .home-carousel {
//     @media (max-width: 768px) {
//         span {
//             width: 100%;
//             padding: 0 15px;
//         }
//     }
// }
// .home-exam,
// .home-exam-ranking {
//     @media (max-width: 768px) {
//         flex-direction: column;
//         align-items: center;
//     }
// }
// .home-search {
//     width: 100%;
//     @media (max-width: 768px) {
//         width: 90%;
//     }
// }
@media (max-width: 450px) {
    .home-list-course {
        margin-left: 0 !important;
    }
    .home-exam-ranking {
        width: 100% !important;
        justify-content: center !important;
    }
}

@media (max-width: 860px) {
    .container-home-exam {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .home-exam-ranking {
        width: 45%;
    }
    .home-exam {
        width: 90%;
        justify-content: center;
        margin-left: 0;
    }
}
