.exams-container {
    display: flex;
    flex-wrap: wrap;
    // min-height: 7vh;
    .exams-list {
        display: flex;
        flex-wrap: wrap;
        width: 60%;
        margin-left: 10%;
    }
    .exams-ranking {
        width: 30%;
    }
    margin-bottom: 20px;
}

@media (max-width: 780px) {
    .exams-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        .exams-list {
            width: 90% !important;
            margin-left: 5%;
            align-items: center;
            justify-content: center;
        }
    }
}
