.exams-container {
    display: flex;
    flex-wrap: wrap;
    // min-height: 7vh;
    .exams-list {
        display: flex;
        flex-wrap: wrap;
        width: 60%;
        margin-left: 10%;
    }
    .exams-ranking {
        width: 30%;
    }
    margin-bottom: 20px;
}
