.card-course {
    border: 1px solid #e4e4e4;
    border-radius: 20px;
    padding: 10px;
}
.ant-card-cover img {
    object-fit: cover;
    height: 280px;
}
.course-info {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.course-name {
    display: flex;
    width: 100%;
    margin-top: -13px;
    justify-content: space-between;
    h2 {
        width: 65%;
    }
}
.course-description {
    height: 90px; /* Set the maximum height */
    overflow: hidden; /* Hide the overflow content */
    text-overflow: ellipsis; /* Add ellipsis for overflow text */
}
.course-time {
    display: flex;
    align-items: flex-start;
}
.course-progress {
    p {
        font-weight: 500;
        color: #047ecf;
    }
}
.course-people {
    font-size: 15px;
    position: absolute;
    right: 12px;
    bottom: 10px;
}
