.exam-ranking-card {
    // margin-bottom: 'auto' !important;
}
.exam-ranking-table {
    font-size: 12px !important;
    margin-top: -15px;
    thead,
    tbody {
        tr {
            th,
            td {
                text-align: center !important;
                padding: 3px 1px !important;
            }
        }
    }
    thead {
        tr {
            th {
                text-transform: uppercase !important;
                // font-size: 12px;
                color: rgb(156, 163, 175) !important;
                font-weight: 600 !important;
                &::before {
                    content: none !important;
                }
            }
        }
    }
}
