.flashcard-list-container {
    min-height: 70vh; // background-color: #f6f7fb;

    .flashcard-list-content {
        position: relative;
        margin-top: 10px;
        display: flex;
        justify-content: center;
        .ant-carousel {
            width: 50%;
        }
        .slick-dots {
            display: none !important;
        }
    }
    .flashcard-list-btn {
        display: flex;
        bottom: 0;
    }
    .flashcard-list-btn,
    .btn-auto-play,
    .btn-reset {
        color: #586380;
        padding: 10px;
        font-size: 40px;
        position: absolute;
    }
    span {
        cursor: pointer;
        &:active {
            opacity: 0.8;
        }
    }
    .btn-auto-play,
    .btn-reset {
        cursor: pointer;
        bottom: 5px;
        &:active {
            opacity: 0.8;
        }
    }
    .btn-auto-play {
        left: 26%;
    }
    .btn-reset {
        right: 26%;
    }
    .question-btn {
        display: flex;
        justify-content: space-between;
        font-size: 20px !important;
        margin: 10px 10%;
    }
    .question-list {
        display: flex;
        flex-flow: column;

        .question-vocab-container {
            height: 400px !important;
            box-shadow: 0 0.25rem 1rem 0 #282e3e14;
            background-color: #f6f7fb6c;
            // background-color: #fff;
            border-radius: 0.5rem;
            // &.result {
            //     height: 500px !important;
            // }
        }
        .ant-space-item {
            width: 45%;
            .ant-card-body {
                height: 100%;
                display: flex;
                flex-flow: column;
                .question-vocab-title {
                    display: flex;
                    flex-direction: column;
                    align-items: flex-start;
                    padding-top: 10px;
                    padding-bottom: 10px;
                    h3 {
                        color: #282e3e;
                        font-size: 25px;
                        font-weight: 500;
                    }
                    height: 30%;
                }

                p {
                    font-weight: 600;
                    font-size: 0.875rem;
                    letter-spacing: normal;
                    line-height: 1.4285714285714286;
                    color: #939bb4;
                    display: flex;
                }
                .question-vocab-ans {
                    width: 40%;
                    margin: 10px 5%;
                    padding: 30px;
                    font-size: 20px;
                    line-height: 1.5;
                    border-radius: 0.5rem;
                    border: 0.125rem solid #edeff4;
                    color: #2e3856;
                    cursor: pointer;
                    &.result {
                        cursor: context-menu;
                    }
                    &:hover {
                        border-color: #939bb4;
                        outline: none;
                    }
                    &.selected {
                        border-color: #4255ff;
                        background-color: #edefff;
                    }
                }
                .question-vocab-ans.result:hover {
                    border: 0.125rem solid #edeff4;
                    color: #2e3856;
                    // pointer-events: none;
                }

                .question-vocab-ans {
                    &.result {
                        &.da-true,
                        &.must-true {
                            border-color: #59e8b5;
                            background: #e6fcf4;
                            opacity: 1;
                            pointer-events: none;
                            font-weight: bold;
                            span {
                                color: '#59e8b5';
                            }
                        }
                        &.da-false {
                            border-color: #ff7873;
                            opacity: 1;
                            pointer-events: none;
                            font-weight: bold;
                            span {
                                color: '#59e8b5';
                            }
                        }
                        &.need-true {
                            border-color: #939bb4;
                            background-color: #edefff;
                        }
                        //         .question-vocab-ans:hover {
                        //             border: 0.125rem solid #edeff4;
                        //             color: #2e3856;
                        //         }
                    }
                }
            }
        }
    }
    .list-btn-question {
        position: absolute;
        align-items: center;
        top: 100px;
        margin-left: 20px;
        display: flex;
        flex-direction: column;
        width: 60px;
        div {
            width: 60px;
            padding: 5px 10px;
            display: flex;
            justify-content: space-between;
            cursor: pointer;
            &:hover {
                background-color: #ccc;
            }
        }
    }
}
