.flash-card-container {
    padding: 70px 40px;
    cursor: pointer;
    border: none;
    // min-height: 300px;
    .flip-card {
        height: 100%;
        perspective: 1000px;
    }
    .flip-card.isFlip .flip-card-inner {
        transform: rotateX(180deg); /* Thay đổi thành rotateX */
    }
    .flip-card-front {
        transform: rotateX(0deg); /* Thêm thuộc tính rotateX */
    }

    .flip-card-back {
        transform: rotateX(180deg); /* Thay đổi thành rotateX */
    }
    .flip-card-inner {
        height: 350px;
        .ant-card {
            height: 100% !important;
            .ant-card-body {
                display: flex;
                height: 100%;
                justify-content: center;
                align-items: center;
            }
        }
    }
    .flip-card-front,
    .flip-card-back {
        border: 1px solid rgba(0, 0, 0, 0.25);
        border-radius: 10px;
    }
    .flash-card-word-info {
        display: flex;
        width: 50%;
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;
        margin-left: 20px;
    }
    .btn-remembered {
        z-index: 2;
        top: 10px;
        right: 10px;
        position: absolute;
        font-size: 35px;
        &.done {
            color: green;
        }
        &.not {
            color: firebrick;
        }
    }
}
