.lesson-detail-container {
    display: flex;
    // margin-top: 20px;
}
.lesson-detail-list-lesson {
    padding-top: 30px;
    width: 25%;
    margin-left: 20px;
    margin-right: 10px;
    height: 78vh;
    overflow-y: scroll;
    // border-left: 1px solid #ccc;
    border-right: 1px solid #ccc;
}
// .lesson-detail-list-lesson,
.lesson-detail-content {
    height: 82vh;
    overflow-y: scroll;
}
.lesson-detail-content {
    // display: flex;
    // flex-flow: column;
    width: 75%;
    .lesson-detail-main-content,
    .lesson-detail-main-des {
        position: relative;
        top: 0;
        left: 5%;
        width: 90%;
    }
}
.lesson-detail-main-des {
    font-family: 'Segoe UI';
    position: relative;
    .lesson-detail-name {
        font-size: 30px;
        font-weight: 600;
        margin: 20px;
    }
    .button-add-note {
        background-color: #ccc;
        position: absolute;
        top: 5px;
        right: 0;
    }
}
.button-comments {
    position: absolute;
    right: 25px;
    bottom: 15px;
    box-shadow: 2px 10px 45px 10px #047ecf7b;
    border-radius: 30px;
    color: rgb(224, 6, 6);
    font-weight: 500;
    &:hover {
        color: rgb(224, 6, 6) !important;
        border-color: rgb(224, 6, 6) !important;
    }
    // font-size: 16px;
}
.comment-component {
    position: absolute;
    width: 70%;
    bottom: 0;
    left: 27%;
}
// .block-user-comment {
// display: flex;
.block-user-comment-input {
    width: 100%;
    margin-left: 20px;
    input {
        border: none;
        &:focus {
            box-shadow: none !important;
        }
        border-bottom: 1px solid #047ecf7b;
    }
    .ql-container {
        height: 100px;
    }
}
.block-user-comment {
    display: flex;
    .user-comment {
        position: relative;
        background-color: #f2f3f5;
        border-radius: 30px;
        padding: 15px;
        .comment-user {
            font-weight: 500;
        }
        .comment-content {
            margin-bottom: 10px;
            margin-top: 10px;
        }
        margin-bottom: 20px;
    }
    .comment-createAt {
        position: absolute;
        bottom: -20px;
        right: 10px;
        font-weight: 700;
        color: #e4244a91;
        &::before {
            position: absolute;
            left: -10px;
            top: 8px;
            content: '';
            width: 4px;
            height: 4px;
            border-radius: 50%;
            background-color: #e4244a91;
        }
    }
}
.block-user-comment-btn {
    display: flex;
    margin-top: 10px;
    justify-content: flex-end;
    button {
        margin-left: 10px;
    }
}
// }
