.question-exam-container {
    display: flex;
    justify-content: space-evenly;
    font-size: 16px;
    .list-question-content {
        h3 {
            font-weight: 700;
            font-size: 18px;
            font-family: 'Times New Roman', Times, serif;
        }
        p,
        span {
            font-weight: 500;
            font-size: 18px;
            color: black;
            font-family: 'Nanum Myeongjo', serif;
        }
    }
}
.list-question-icon {
    position: sticky;
    margin-right: 40px;
    top: 10px;
    display: flex;
    flex-flow: column;
    align-items: center;
    .list-question-btn {
        display: flex;
        flex-wrap: wrap;
        width: 300px;
        button {
            font-size: 20px;
            font-weight: bold;
            width: 40px;
            height: 40px;
            margin: 5px;
            border-radius: 50%;
            border: 1px solid #2b2b2b;
            &:hover {
                cursor: pointer;
            }
            &:active {
                opacity: 0.7;
            }
            &.done {
                background-color: aquamarine;
            }
        }
    }
    button {
        margin: 10px;
    }
}
