/*FOOTER*/
.footer-container {
    padding-top: 10px;
    display: flex;
    // a {
    //     color: #1677ff;
    //     &:active {
    //         color: #1677ff;
    //     }
    // }
    &::after {
        margin-top: 10px;
        content: '';
        width: 100%;
        height: 20px;
        background-color: #1677ff;
    }
}
.footer-logo {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.footer-content {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    .footer-item-menu-title {
        color: #919191;
        padding-bottom: 5px;
        font-weight: bold;
    }
    ul {
        position: relative;
        &::after {
            position: absolute;
            top: 0;
            left: 0;
            content: '';
            width: 100%;
            height: 1px;
            background-color: #919191;
        }
    }
    .footer-menu,
    ul {
        display: flex;
        flex-direction: column;
        align-items: center;
        ul {
            list-style-type: none;
        }
    }
}
.footer-divider {
    margin-top: 0px;
}

@media (max-width: 463px) {
    .footer-content {
        flex-direction: column;
        flex: 0 0 60%;
    }
    .footer-logo {
        margin-left: 20px;
        width: 30% !important;
    }
}
