.vocab-container {
    width: 72%;
}
.list-card {
    display: flex;
    justify-content: flex-start;
    width: 100%;
    flex-wrap: wrap;
}
.create-new-listVocab {
    &:hover {
        cursor: pointer;
    }
}

@media (max-width: 750px) {
    .vocab-container {
        width: 80%;
    }
    .list-card {
        justify-content: center !important;
    }
}
