* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* HEADER */

.header-container {
    padding-top: 18px;
    display: flex;
    align-items: center;
}
.header-logo,
.header-avatar-profile {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.header-menu {
    display: flex;
    justify-content: center;
    border-bottom: none;
    font-size: 18px;
    font-weight: bold;
    text-transform: uppercase;
    li {
        margin: 20px;
    }
}
.header-profile::after {
    border-bottom: none !important; /* Sử dụng !important ở đây */
}
/*END HEADER*/
.txt-login {
    text-align: center;
    color: #4c6379;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 22px;
    margin-top: 20px;
    margin-bottom: 15px;
}

.input-login {
    border-radius: 120px;
}
.login-form-button {
    text-transform: uppercase;
    border-radius: 120px;
    font-size: 18px;
    padding-top: 23px;
    padding-bottom: 23px;
    line-height: 0;
}
